/ServerApp/ServerApp/bin/
/ServerApp/ServerApp/obj
/ServerApp/.vs/ServerApp/DesignTimeBuild/.dtbcache.v2
/ServerApp/.vs/ServerApp/project-colors.json
/ServerApp/.vs/ServerApp/v17/.futdcache.v1
/ServerApp/.vs/ServerApp/v17/.suo
/ServerApp/ServerApp/wwwroot/kit
